.div_main{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_main .modal{
    width: 500px;
    height: 500px;
    background-color: white;
    position: relative;
    z-index: 99;
    padding: 30px;
    bottom: 0;
    background-color: #00DC88;
    border-color: #00DC88;
    color: #0f0f0f;
    border: 5px solid;
}


input{
    width: 100%;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 15px;
}

#fechar{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 35px;
    transform: rotate(45deg); 
    cursor: pointer;
}

button{
    display: block;
    width: 200px;
    height: 50px;
    padding: 2px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border-radius: 15px;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: rgb(110, 202, 190);
    align-items: center;
    text-align: center;
}